
//Cores Logo
$cor-fundoLogo: #EFEEEC;
$cor-vermelhoLogo: #971014;

//Cores Principais
$cor-vermelhoEscuro: #620404;
$cor-vermelhoMedio: #7D0808;
$cor-vermelhoClaro: #D00B0B;

//Cores Secundárias
$cor-branco: #ffff;