//----------------------------------------------------------------
//                      VARIÁVEIS DE CORES
//----------------------------------------------------------------

//* CORES LOGO
$cor-fundoLogo: #EFEEEC;
$cor-vermelhoLogo: #971014;

//* CORES PRINCIPAIS
$cor-vermelhoEscuro: #620404;
$cor-vermelhoMedio: #7D0808;
$cor-vermelhoClaro: #D00B0B;
$cor-cinzaEscuro: #333333;
$cor-primaria: #BB1F1F;
$cor-secundaria: #620404;

//* CORES SECUNDÁRIAS
$cor-branco: #ffff;
$cor-preto: #000000;
$cor-nav: #E1E4E7;

//  primaria
//  secundária
//  terceriza

//----------------------------------------------------------------
//                      TIPOS DE FONTE DE TEXTO
//----------------------------------------------------------------

// Sailors (Fonte da Logo)

/// Família de fonte regular
/// @type Lista
$fonte-titulos: 'Roboto Slab', serif, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Família de fonte para código (monoespaçada)
/// @type Lista
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;




/// Largura máxima do container
/// @type Comprimento
$max-width: 1180px !default;


