@use '../utils/variables' as var; //abreviação de variables VAR.

footer {
    background-color: var.$cor-vermelhoEscuro;
    padding-top: 25px;
    padding-bottom: 25px;

}

footer p {
    color: var.$cor-branco;
    text-align: center;
    padding-top:24px;
    opacity:0.9;
    font-size:18px;
  
}

