@use '../utils/variables' as var;

/* Estilos de botão */
.button-container {
  border: 0;
  outline: none;
  padding: 10px 15px;
  border-radius: 35px;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}



.button:last-child {
  margin-right: 0; /* Remove a margem do último botão */
}

.button-conhecer {
  background-color: var.$cor-vermelhoClaro;
  color: var.$cor-branco;
  line-height: 1;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}

.button-conhecer:hover {
  background-color: var.$cor-vermelhoMedio;
  color: var.$cor-branco;
}

/* Estilos de botão */
.button-container2 {
  border: 0;
  outline: none;
  padding: 5px 0px;
  border-radius: 35px;
  background-color: transparent;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.button-conhecer2 {
  background-color: #047591;
  color: var.$cor-branco;
  line-height: 1;
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

.button-conhecer2:hover {
  background-color: #033744;
  color: var.$cor-branco;
}
