
@use '../utils/variables' as var;

* {
    font-family: var.$fonte-titulos;
}
  
h1{
  color: var.$cor-vermelhoMedio;
  font-family: var.$fonte-titulos;
}

button,
a {
  cursor: pointer;
  transition: all 0.8s;
}


// BARRA PRINCIPAL.
  header {
    background-color: var.$cor-primaria;
    padding: 20px;
  }
  
  //CORPO DO TEXTO
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  //ESPAÇO ENTRE AS SECTIONS
  section {
    margin-bottom: 40px;
  }
  
  // ESPAÇO DOS TÍTULOS PRO
  section h2 {
    margin-bottom: 10px;
  }
  
 
  // LINHA ACIMA DO "ENTRE EM CONTATO"
  #contato {
    border-top: 5px solid #ccc;
    padding-top: 20px;
  }

  .red-text {
    color: red;
    font-weight: bold;
  }

  .texto-sublinhado {
    text-decoration: underline;
    font-weight: bold;
  }
  